<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
      <form action="/submit" method="POST">
    <!-- Name -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <!-- Age -->
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br><br>

    <!-- Roll No -->
    <label for="rollno">Roll No:</label>
    <input type="text" id="rollno" name="rollno" required><br><br>

    <!-- Submit -->
    <button type="submit">Submit</button>
  </form>
    <% if (locals.students && locals.students.length > 0) { %>
    <table border="1" cellpadding="8">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Roll No</th>
      </tr>

      <% students.forEach(student => { %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.age %></td>
          <td><%= student.rollno %></td>
        </tr>
      <% }) %>
    </table>
  <% } else { %>
    <p><strong>No data available</strong></p>
  <% } %>
</body>
</html>