<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a href="/">home</a>
     <% if (locals.student && locals.student.name) { %>
  <p><strong>Name:</strong> <%= student.name %></p>
  <p><strong>Age:</strong> <%= student.age %></p>
  <p><strong>Roll No:</strong> <%= student.rollno %></p>
<% } else { %>
  <p>No data available</p>
<% } %>
</body>
</html>